.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

#preview-warning {
    display: none;
}

.screensaver {
  background: black;
  width: 100%;
  height: 100%;
  margin-top: -20px;
  position: relative;
}

nav {
  transition: 0.1s;
}

nav.hiding {
  margin-top: -50px;
  opacity: 1;

  transition: 3s
}

nav .user-name {
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.5em;
  color: white;
}

.screensaver .leech {
    font-size: 5em;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity: 0;
    transition: opacity 2s 0s;
}

.screensaver .leech span {
    color: black;
    transition: color 2s 0s, background-color 2s 0s;
}

.screensaver .leech span.type {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.screensaver .leech span.type rt {
    transition: color 2s 14s, background-color 2s 14s;
    font-size: 0.33em
}

.screensaver .leech span.reading {
    transition: color 2s 14s, background-color 2s 14s;
}

.screensaver .leech span.meaning {
    transition: color 2s 7s, background-color 2s 7s;
}

.screensaver .leech.active {
    opacity: 1;
}

.screensaver .leech.active span {
    color: white;
}
        
.screensaver .leech.active .radical {
    background-color: #0af;
}

.screensaver .leech.active .kanji {
    background-color: #f0a;
}

.screensaver .leech.active .vocabulary {
    background-color: #a0f;
}

.demo-mode {
    position: absolute;
    right: 0.5em;
    color: gray;
}

.error {
    color: red;
    font-size: 2em;
}


/* leech list */

.leeches td, th {
    text-align: center;
}

.leeches tbody a {
    color: white;
}

.leeches tbody a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 0 10px #fff;
}

.leeches .type {
    padding: 0;  
}

.leeches div.vocabulary {
    padding: 8px;
    background-repeat: repeat-x;
    font-size: 20px;
    color: white;
    background-color: #a100f1;
    background-image: linear-gradient(to bottom, #a0f, #9300dd);
}

.leeches div.kanji {
    padding: 8px;
    background-repeat: repeat-x;
    font-size: 20px;
    color: white;
    background-color: #f100a1;
    background-image: linear-gradient(to bottom, #f0a, #dd0093);
}

.srs {
    text-align: center;
    background-repeat: repeat-x;
    color: #fff;
}

.srs.Apprentice {
    background-color: #dd0093;
    background-image: linear-gradient(to bottom, #f0a, #dd0093);
}

.srs.Guru {
    background-color: #882d9e;
    background-image: linear-gradient(to bottom, #aa38c6, #882d9e);
}

.srs.Master {
    background-color: #294ddb;
    background-image: linear-gradient(to bottom, #5571e2, #294ddb);
}

.srs.Enlightened {
    background-color: #0093dd;
    background-image: linear-gradient(to bottom, #0af, #0093dd);
}

.training {
    position: relative;    
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.training #school {
    position: absolute;
    width: 25%;
    right: 7%;
    top: 22%;
}

.training #construction1 {
    position: absolute;
    right: 13%;
    bottom: 42%;
    width: 2em;
}

.training #construction2 {
    position: absolute;
    left: 43%;
    bottom: 32%;
    width: 2.5em;
}

.training #construction3 {
    position: absolute;
    left: 26%;
    bottom: 3%;
    width: 3em;
}

.training #gym {
    position: absolute;
    width: 12%;
    left: 43%;
    top: 47%;
}

.training #target-practice {
    position: absolute;
    width: 20%;
    left: 15%;
    top: 74%;
}

.training .leech {
    font-size: 3em;
    color: white;
    position: absolute;
    border-radius: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.training .leech.kanji {
    background-color: #f0a;
}

.training .leech.vocabulary {
    background-color: #a0f;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-4.17deg) skewY(-4.17deg);
  }

  33.3% {
    transform: skewX(2.08deg) skewY(2.08deg);
  }

  44.4% {
    transform: skewX(-1.04deg) skewY(-1.04deg);
  }

  55.5% {
    transform: skewX(0.52deg) skewY(0.52deg);
  }

  66.6% {
    transform: skewX(-0.26deg) skewY(-0.26deg);
  }

  77.7% {
    transform: skewX(0.13deg) skewY(0.13deg);
  }

  88.8% {
    transform: skewX(-0.07deg) skewY(-0.07deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
