<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <h1 lang="ja">
      <ruby>
        <rb>鰐</rb><rt>わに</rt>
        <rb>蟹</rb><rt>かに</rt>
        <rb>道</rb><rt>どう</rt>
        <rb>具</rb><rt>ぐ</rt>
      </ruby>
    </h1>
    <span>(WaniKani Tools)</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

</body>
</html>
