<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <h1>
      Welcome to
      <ruby title="WaniKani Tools">
        <rb>鰐</rb><rt>わに</rt>
        <rb>蟹</rb><rt>かに</rt>
        <rb>道</rb><rt>どう</rt>
        <rb>具</rb><rt>ぐ</rt>
      </ruby>!
    </h1>
    <p>A collection of tools for folks learning japanese using <a href="https://wanikani.com">WaniKani</a>.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

</body>
</html>
