<html>
  {{template "header.tmpl.html"}}
<body style="background: black;">
  {{template "nav.tmpl.html" .}}

<div id="preview-warning" class="container alert alert-warning" role="alert"><strong>You're not logged in!</strong> This is a preview. It's hightechbunny's leeches that you're looking at.</div>

<div class="screensaver">
    
    {{range .Data}}
        <div id='leech-{{.SubjectID}}' class='leech'>
            <span class='type'>
                <span class='{{.SubjectType}}'><ruby><rb>{{.Name}}</rb><rt>{{.PrimaryReading}}</rt></ruby></span>&nbsp;<span class='meaning'>{{.PrimaryMeaning}}</span>
            </span>
        </div>
    {{end}}
</div>
<script type='text/javascript'>
    $(document).ready(function() {
        function qs(key) {
            key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx control chars
            var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
            return match && decodeURIComponent(match[1].replace(/\+/g, " "));
        }

        var apiKey = qs('api_key');

        if (apiKey) {
            $('nav').addClass('hiding');
        }
        
        var navHideTimeoutId;
        $('.screensaver').mousemove(function() {
            $("nav").removeClass('hiding');
            window.clearTimeout(navHideTimeoutId);

            navHideTimeoutId = setTimeout(function() {
                $("nav").addClass('hiding');
            }, 3000);
        });

        var lastId;
        function animate() {
            var id;
            var leeches = $('.leech');
            while(true) {
                var index = Math.trunc(Math.random()*leeches.length);
                id = leeches.get(index).id;
                if (id != lastId) {
                    break;
                }
            }

            $('.leech').removeClass('active');
            $('#'+id).addClass('active').css('left', Math.random()*500).css('top', Math.random()*500);;
            lastId = id;      
        };

        setTimeout(function() {
            animate();
            setInterval(function() {
                animate();
            }, 20000);            
        }, 500);
    });
</script>
</body>
</html>
