<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html" .}}

<div class="container">
    <div id="preview-warning" class="alert alert-warning" role="alert"><strong>You're not logged in!</strong> This is a preview. It's hightechbunny's leeches that you're looking at.</div>
    <table class="table leeches">
        <thead>
            <tr>
                <td><span lang="ja" title="Name">名前</span></td>
                <td>Worst</td>
                <td>SRS</td>
                <td>Wrong</td>
                <td>Streak</td>
                <td><span lang="ja" title="Score">点数</span></td>
            </tr>
        </thead>
        <tbody>
            {{range .Data}}
                <tr>
                    <td class='type'>
                        <a href='https://wanikani.com/{{.SubjectType}}/{{.Name}}' target='_blank'>
                            <div class='{{.SubjectType}}'>{{.Name}}</div>
                        </a>
                    </td>
                    <td>{{.WorstType}}</td>
                    <td class='srs {{.SrsStageName}}'>{{.SrsStage}}</td>
                    <td>{{.WorstIncorrect}}</td>
                    <td>{{.WorstCurrentStreak}}</td>
                    <td>{{printf "%.2f" .WorstScore}}</td>
                </tr>
            {{end}}            
        </tbody>
    </table>
</div>
</body>
<script>
    $(document).ready(function() {
        $('.leeches').DataTable({paging: false, searching: false});
    });
</script>
</html>
